* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: black;
  font-family: arial;
}

<<<<<<< HEAD
header {
    box-sizing:border-box;
    border-top: 2px solid orangered;
    border-bottom: 2px solid orangered;
    background-color: black;
    margin-bottom: 15px;
    padding-top: 15px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
        
=======
.center {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2%;
>>>>>>> 990f14c84ad3f0a88affae4384ebd01f199e7aaf
}

main.carrossel {
  box-sizing: border-box;
  padding-top: 15px;
  margin-bottom: 20px;
  max-width: 100%;
}
article.buttons {
  box-sizing: border-box;
  border-top: 2px solid orangered;
  margin-bottom: 15px;
  padding: 22px;
}
.letreiro {
  text-align: center;
  color: orangered;
  font-size: 25px;
  max-width: 500px;
  width: 20px;
}

.logo {
  text-align: justify;
  max-width: 100px;
  width: 100px;
  margin: 0 0 13px 15px;
}

.icon {
  text-align: end;
  max-width: 50px;
  width: 50px;
  margin: 0 0 24px 1127px;
}

.carrossel {
  max-width: 800px;
  width: 800px;
  height: 400px;
  text-align: center;
  margin-left: 273px;
}

.buttons {
  text-align: center;
}
article p {
  width: 100%;
}

article h2 {
  color: orangered;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  color: orangered;
  font-size: 14px;
  line-height: 18px;
}

footer {
  color: orangered;
  font-style: italic;
}

@media (max-widht: 1301px) {
  article {
    width: 100%;
  }

  .logo {
    width: 100%;
    margin-bottom: 20px;
  }

  .icon {
    width: 100%;
    padding-left: 900px;
    margin-bottom: 30px;
  }

  .letreiro {
    width: 500px;
  }

  .carrossel {
    width: 100%;
  }
}
